/**********************************
GENERAL
***********************************/
h2{
	padding: 0 auto 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 15px 0;
	font-size: 1.5em;
	font-weight: lighter;
	line-height: normal;
	color: #323b45;
}

h1, h3, .header-copy{
	padding: 0 auto 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 15px 0;
	font-size: 2.2em;
	font-weight: lighter;
	line-height: normal;
	color: #323b45; /*grey/blue color*/
}






/**********************************
HEADER
***********************************/

header{
  background-color: #07c0ea;  /* #EE3469;   hot pink */
  padding: 3% 0 3% 0;
  margin: 0 auto 0 auto;
  width: 100%;
  display: block;

}


.header-copy{
  color: #fff;
  text-align: center;
  font-weight: normal;
}


header img{

	margin: 0 auto 0 auto;
	padding: 20px 0 20px 0;
	display: block;
	width: 40%;
}



/**********************************
PARALLAX
***********************************/
/*.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border: 0;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  background-color: #fff;
  transform: translateZ(0);
  top: 20%;
}
.parallax__layer--back {

  border: 0; 

  background-color: #fff; 
  top: -10%;
  transform: translateZ(-1px) scale(2);
}
*/



/**********************************
BODY
***********************************/


.body-copy{
	margin: 0 auto 0 auto;
	padding: 5% 10% 0 10%;
	text-align: center;
  overflow-y: hidden;
}

.body-copy a{
	color: #07c0ea; /*#ee3469;*/	
  text-decoration: none;
}

.wireframe{
/*  visibility: hidden;
*/
  background-color: #fff;
  display: block;
  width: 100%;

}

.end-copy{
  margin: 0 auto 0 auto;
  padding: 5% 10% 10% 10%;
  text-align: center;
  overflow-y: hidden; 
}

.end-copy a{
  color: #07c0ea;
  text-decoration: none;
}



.prof-pic {
  width: 100%;
  display: block;
}

.cd-intro{
  padding-bottom: 15%;
}

/**********************************
SKILLS
***********************************/
#skills{
  margin: 0 auto 0 auto;
  padding: 4%;
}

#skills img{
  width:80%;
  padding-bottom: 5%;
}

#skills li, p{
  margin: 0 auto 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: normal;
  padding-left: 2%;

}

.description{
  color: #323b45;
}

.tools {
  color: #a5a5a5;
  margin:0 auto 0 auto;
  padding: 0% 15% 0% 15%;
}


/**********************************
FOOTER
***********************************/
footer{
	background-color: #323b45;
	padding: 2% 0 3% 0;
}

footer ul{
	list-style: none;
	padding-left: 0;
}

footer nav{
	margin: 0 auto 0 auto;
	list-style: none;
	text-align: center;
}

footer a{
  font-family: 'Open Sans', sans-serif;
  color: #fff;

}

footer li{
	display: inline;
	padding: 0 2% 0 2%;

}


footer p{
	display: block;
	color: #fff;
	padding: 0 5% 0 5%;
	margin: 0 auto 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: .6em;
	text-align: center;
	text-decoration: none;
}

.social-icon{
	height: 30px;
	margin: 20px auto 20px auto;
	display: inline-block;
}


/* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: 'abcd';
  position: absolute;
  left:100px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  /* This is where teh color changes */
  background-color: #B3D4FD;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #0d0d0d;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
















