@media screen and (min-width: 480px) {

	.wireframe img{
		position: relative;
		bottom: 0;

	}
	
/*	header{
		background-color: #000;
	}
*/




	/*
	.parallax__layer--base {
		top: 35%;
	}
	.parallax__layer--back {
		top: -20%;
	}*/



}


@media screen and (min-width: 660px){
	header img{
		max-width: 20%;
	}
	/*header{
		background-color: #a5a5a5;
	}*/

	#skills{
		padding: 0 0 0 0;
		width: 100%;
	}	

	#skills-list{
		margin: 0 auto 0 auto;
		width: 30%;
		padding: 5% 1.5% 5% 1.5;
		display: inline-table;
	}

	.end-copy{
		padding: 10% 20% 5% 20%;
		display: block;
	}

	.body-copy{
		padding: 0% 5% 0 5%;
	}

	h3{
		font-size: 1.5em;
	}
/*	.parallax{
		top:55%;

	}
	.parallax__layer--back {
		top: -30%;
	}*/

}