@media screen and (min-width: 480px) {

	.wireframe img{
		position: relative;
		bottom: 0;

	}
	/*
	header{
		background-color: #000;
	}
	.parallax__layer--base {
		top: 35%;
	}
	.parallax__layer--back {
		top: -20%;
	}*/



}


@media screen and (min-width: 660px){
	header img{
		max-width: 20%;
	}
	header{
		/*background-color: #a5a5a5;*/
	}
/*	.parallax{
		top:55%;

	}
	.parallax__layer--back {
		top: -30%;
	}*/

}